.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.hero img{
    width: 250px;
    aspect-ratio: 1/1;
    margin-top: 1rem;
    border-radius: 50%;
    object-fit:cover;
    box-shadow: 0 0 30px 2px #b923e1;
    box-shadow: 5px 5px 25px #b923e1, -5px -5px 25px #da7c25;

}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 3.5rem;
}
.hero h1 span{
    background: linear-gradient(276deg , #da7c25 0.36%, #b923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.hero-connect{
    padding: 18px 30px;
    border-radius: 50px;
    background: linear-gradient(276deg , #da7c25 0.36%, #b923e1 102.06%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.hero-connect:hover{
    animation: btn 1s linear 1;

}
@keyframes btn {
    0%{
        background: linear-gradient(100deg , #f77801 0.36%, #be04f1 102.06%);
    }
    100%{
        background: linear-gradient(100deg , #f77801 0.36%, #be04f1 102.06%);

    }
}
.hero-resume{
    padding: 18px 46px;
    border-radius: 50px;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;

}

.hero-resume:hover{
    border-color: #b923e1;
}